.services {
    background-color: #e4fdf9;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, minmax(100px, max-content));
}

.services__info {
    grid-column: 2 / 10;
    grid-row: 2 / 3;
    max-width: 700px;
    text-align: center;
    justify-self: center;
}

.services__info > p {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.services__content {
    grid-column: 2 / 10;
    grid-row: 4 / 6;
    text-align: center;

    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 300px));
    grid-gap: 30px;
}

.services__content > li {
    background-color: white;
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 500ms;
}

.services__content > li > p {
    font-size: 13px;
    margin-top: 0;
}

.services__content > li > button {
    margin-top: 20px;
    min-height: 50px;
    width: auto;
    padding: 0 15px;

    border: 2px solid black;
    border-radius: 0;
    background-color: transparent;

    font-weight: bold;
    font-size: 17px;

    color: inherit;
    border-color: inherit;
}

.services__content > li > button:hover {
    cursor: pointer;
}

.services__content > li:hover {
    background-color: #00897b;
    color: white;
    box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.25);

    border-color: white;
}

.service__item {
    background-image: url('../../../media/img/Phone.png');
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    transform: translateX(15px);
    z-index: 1;
}