@import '../../../../sass/variables'
@import '../../../../sass/mixins'
    
.infoblock
    background-color: white
    padding: 50px
    @include flex(center, center, $direction: column)
    
    transition: 500ms
    @include smallDescr (inherit)

    width: 23vw
    margin: (8vw / 6)
    box-sizing: border-box

    &:hover, &:active
        background-color: $seaGreen
        color: white
        box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.25)
        border-color: white

    &:active
        background-color: lighten($seaGreen, 5)
        box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.25)

    @media (max-width: 1000px)
        width: 35vw
        margin: (8vw / 6)

    @media (max-width: 650px)
        padding: 25px
        width: 78vw
        margin: 0 1vw

.infoblock_without-hover
    background-color: white
    padding: 50px
    @include flex(center, center, $direction: column)
    
    transition: 500ms
    @include smallDescr (inherit)

    width: 23vw
    margin: (8vw / 6)
    box-sizing: border-box

    @media (max-width: 1000px)
        width: 35vw
        margin: (8vw / 6)

    @media (max-width: 650px)
        padding: 25px
        width: 78vw
        margin: 0 1vw


.infoblock__button
    @include font (17px, bold, inherit)
    margin-top: 50px
    width: auto
    height: 50px
    border: 2px solid black
    padding: 0 15px 
    border-color: inherit 
    background-color: transparent
    &:hover
        cursor: pointer
        
.infoblock__icon
    width: 80px
    height: 80px
    font-size: 50px
    @include flex(center, center)