@import '../../../../sass/variables'
@import '../../../../sass/mixins'

.block-switcher
    grid-column: 2 / 10
    grid-row: 6 / 7
    @include flex(center, center)
            

.block-switcher__item:hover
    cursor: pointer

.block-switcher__circle
    transition: cx 1s

    @media ( max-width: 500px )
        transition-duration: .5s
        

.block-switcher__item_active
    fill: #3949ab

