.home {
    display: flex;
    width: 100%;
    height: auto;
    background-image: url('../../../media/img/Web-Development-Project.jpg');
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.home__content {
    max-width: 80%;
    align-self: center;
    margin-top: 25vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__content > h1, h4 {
    text-align: center;
}

.home__content > h1 {
    max-width: 90vw;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 0;
    letter-spacing: 3pt;
}

.home__content > h4 {
    font-size: 20px;
    letter-spacing: 1pt;
    margin-top: 15px;
    font-weight: normal;
}

.home__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10vh;
}

.home__buttons > button {
    display: flex;
    width: 220px;
    max-width: 50vw;
    height: 70px;
    max-height: 20vw;
    margin: 12.5px;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    letter-spacing: 1pt;
}

.home__buttons > :nth-child(1) {
    background-color: transparent;
    border: 2px solid white;
}

.home__buttons > :nth-child(1):hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.home__buttons > :nth-child(2) {
    background-color: #00897b;
    outline: none;
    border: none;
}

.home__buttons > :nth-child(2):hover {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #00897b;
    color: #00897b;
}

.home__angle {
    margin-top: 12vh;
    font-size: 4vh;
    margin-bottom: 10vh;
    transition-duration: 300ms;
}

.home__angle:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition-duration: 300ms;
}

@media (max-width: 950px) {
    .home__content {margin-top: 20vh;}

    .home__content > h1 {font-size: 35px; letter-spacing: 1pt;}
    .home__content > h4, .home__buttons > button {font-size: 12px;}

    .home__angle {margin-top: 8vh; margin-bottom: 6vh;}
}
