.header {
    position: fixed;
    width: 100%;
    min-height: 70px;
    height: auto;
    background-color: white;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 15px;

    z-index: 2;
}

.header__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__head > p {
    font-weight: bold;
    margin-left: 5vw;
    font-size: 1.5rem;
}

.header__bar, .header__bar_hidden {
    display: none;
    font-size: 2rem;
    margin-right: 10vw;
    animation-duration: 1s;
}

.header__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    margin-right: 5vw;
}

.header__menu > li {
    margin-right: 30px;
    font-weight: 600;
    transition: 300ms;
}

.header__menu > li:hover {
    color: #00897b;
    cursor: pointer;
}

.header__search {
    width: auto;
    max-width: 120px;
    font-size: 15px;
    font-weight: 200;
    margin-right: 2px;
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}

.header__search_hidden {
    display: none;
}

@media (max-width: 1000px) {
    .header {
        min-height: 50px;
        flex-direction: column; 
        align-items: stretch; 
        justify-content: center; }

    .header__menu, .header__bar_hidden { display: none; }

    .header__menu_show {
        display: flex;
        flex-direction: column;
        align-items: center; }

    .header__menu_show > li { margin-bottom: 15px; }

    .header__bar { display: inline;  }

    .header__search_hidden { display: inline; }
}