.header {
    position: fixed;
    width: 100%;
    min-height: 70px;
    height: auto;
    background-color: white;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    font-size: 17px;
}

.header__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__head > p {
    font-weight: bold;
    margin-left: 5vw;
    font-size: 1.5rem;
}

.header__bar, .header__bar_hidden {
    display: none;
    font-size: 2rem;
    margin-right: 10vw;
    animation-duration: 1s;
}

.header__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    margin-right: 5vw;
}

.header__menu > li {
    margin-right: 35px;
    font-weight: 600;
}

.header__menu > li:hover {
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

@media (max-width: 1000px) {
    .header {
        min-height: 50px;
        flex-direction: column; 
        align-items: stretch; 
        justify-content: center; }

    .header__menu, .header__bar_hidden { display: none; }

    .header__menu_show {
        display: flex;
        flex-direction: column;
        align-items: center; }

    .header__menu_show > li { margin-bottom: 15px; }

    .header__bar { display: contents; animation-delay: 300ms; }
}