@import '../../../sass/variables'
@import '../../../sass/mixins'
@import './Item/item'
@import './Switcher/switcher'
    
.portfolio
    background-color: white
    width: 100%
    display: grid
    grid-template-columns: repeat(10, 1fr)
    grid-template-rows: repeat(9, minmax(80px, max-content))

.portfolio__info
    grid-column: 2 / 10
    grid-row: 2 / 3

.portfolio__list
    grid-column: 2 / 10
    grid-row: 6 / 7

    @include list
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr))
    grid-gap: 30px

    @media (max-width: 900px)
        grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr))

    @media (max-width: 500px)
        grid-template-columns: repeat(auto-fit, minmax(70vw, 1fr))

.portfolio__show-all
    grid-column: 2 / 10
    grid-row: 8 / 9

    align-self: center
    justify-self: center


