body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Open Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./media/fonts/OpenSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./media/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./media/fonts/OpenSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

/* @font-face {
  font-family: 'Oprn Sans';
  src: url('./media/fonts/OpenSans-SemiBold.ttf') format('ttf');
  font-style: normal;
  font-weight: bolder;
} */
