@import '../../../sass/variables'
@import '../../../sass/mixins'
@import './Card/card'
@import './BlockSwitcher/block-switcher'

.team
    width: 100%
    display: grid
    grid-template-columns: repeat(10, 1fr)
    grid-template-rows: 20px repeat(6, minmax(80px, max-content))
    @media (max-width: 700px)
        grid-template-rows: 50px repeat(6, minmax(60px, max-content))

.team__info
    grid-column: 2 / 10
    grid-row: 3 / 4

.team__carousel-container
    grid-column: 2 / 10
    grid-row: 5 / 6
    width: 80vw
    overflow: hidden

.team__carousel
    @include list
    width: max-content
    margin-left: 0
    transition: margin-left 1s ease-in-out
        