@import '../../../sass/variables'
@import '../../../sass/mixins'
@import './InfoBlock/Card/card'
@import './BlockSwitcher/block-switcher'

.team
    width: 100%
    display: grid
    grid-template-columns: repeat(10, 1fr)
    grid-template-rows: 20px repeat(6, minmax(80px, max-content))
    @media (max-width: 700px)
        grid-template-rows: 50px repeat(6, minmax(60px, max-content))

.team__info
    grid-column: 2 / 10
    grid-row: 3 / 4

.team__content
    grid-column: 2 / 10
    grid-row: 5 / 6

    @include flex(space-evenly, center)
    flex-wrap: wrap

.team__person-card
    width: 30%

.team__content_hidden
    display: none

        