.aboutUs {
    background-color:white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, minmax(100px, max-content));
}

.aboutUs__info {
    grid-column: 2 / 10;
    grid-row: 2 / 3;
    max-width: 700px;
    text-align: center;
    justify-self: center;
}

.aboutUs__info > p {
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.aboutUs__content {
    grid-column: 2 / 10;
    grid-row: 4 / 6;
    text-align: center;

    list-style: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 100px;
}

.aboutUs__content > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutUs__content > li > p {
    font-family: 'Open Sans';
    font-size: 13px;
    font-weight: lighter;
    margin-bottom: 0;
}

.aboutUs__content > li > h3 {
    margin: 5px 0 4px 0;
}

.aboutUs__img {
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}

.aboutUs__img_internet {
    background-image: url('../../../media/img/Internet.png');
}

.aboutUs__img_transfer {
    background-image: url('../../../media/img/Transfer.png');
}

.aboutUs__img_head {
    background-image: url('../../../media/img/Head.png');
}