@import '../../../sass/variables'
@import '../../../sass/mixins'
@import './Item/item'

.services
    background-color: #e4fdf9
    width: 100%
    @include blockGrid(10, 6)

.services__info
    grid-column: 2 / 10
    grid-row: 2 / 3
    
.services__content 
    grid-column: 2 / 10
    grid-row: 4 / 6
    text-align: center
    
    @include list

    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    grid-gap: 30px

    @media (max-height: 500px)
        grid-template-columns: repeat(auto-fit, minmax(70vw, 1fr))
    
